
.container-fluid
{
   
    height:80px;
}
.icon
{
    margin-top: 15px;
    float:left;
}
.navbar-right
{
    font-size:large;
   
    padding-top:18px;

}
.gap
{
    color:blue;
    margin-right:20px;
   
}
.centered 
{
    color:blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.btn-success
{
    position: absolute;
    bottom:30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.ftr
{
    background-color:blue;
   
    text-align: center;

}
.fot
{
    color:white;
    font-size:large;
    margin-right:70px;
}
.glyphicon-expand
{
    font-size:x-large;
    color:red;
}


   